.sectio {
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    padding: 40px;
    display: flex;
}

#container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 500px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #00ff15;
}

#form-todo {
    display: flex;
    gap: 10px;
}

#form-todo input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

#form-todo button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#form-todo button:hover {
    background-color: #0056b3;
}

ul {
    margin: 20px 0 0 0;
    list-style: none;
    padding: 0;
}

li {
    background-color: #f1f1f1;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.btn-supprimer {
    background: crimson;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}
.btn-supprimer:hover {
    background-color: darkred;
}

.btn-check {
    background: grey;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.secti {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 0;
}

.quiz-box {
    background-color: #c31515;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    text-align: center;
}

.quiz-box h2 {
    margin-bottom: 25px;
    color: #ece7e7;
    font-size: 22px;
    text-shadow: 5px 2px 5px rgb(101, 12, 12);
}

.reponse {
    display: block;
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0px;
    font-size: 16px;
    border: 2px solid #0500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

#resultat {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    min-height: 24px;
}
